:root{
  --black:#333333;
  --green: #00D9B0;
  --gray:#F6F7FB;
  --gray-mid:#ededef;
  --blue:#2B75FF;
  --light-blue:#E9F1FF;
}
html{
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: inherit;
}

h1, h2{
  margin: 0;
  font-size: 4.2rem;
}


