@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root{
  --black: #18171c;
  --black-mid: #666666;
  --green: #00D9B0;
  --gray: #F6F7FB;
  --gray-mid: #F3F2FF;
  --blue: #2B75FF;
  --light-blue: #E9F1FF;
  --purple: #6453f7;
  --purple-hover:#4837e2;
}

html{
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: inherit;
}

h1{
  margin: 0;
  font-size: 4.2rem;
}

h2{
  margin: 0;
  font-size: 3.2rem;
}

@media screen and (max-width:1280px){
  h1{
    font-size: 3.8rem;
  }

  h2{
    font-size: 2.8rem;
  } 
}


